body{
    color: white;
}
#fb:hover{

    color:#3b5998;
}
#twitter:hover{
    color:#00aced;
}
#github:hover{
    
    color: black;
}
#wp:hover{
    color:#21759b;
}
a{
    text-decoration: none !important;
    color:white;
}
a.contact:hover{
    color: white;
    font-weight: bold;
}

.contact-list{
    list-style-type: none;
    padding-left:2.5vw;
    padding-right:2.5vw;
    margin:0;
    text-align: center;
}

.env{
    display: inline;
}

#projects{
    font-height: 90%;
    position: relative;
    overflow-y: hidden;
    float: left;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    margin: 0;
    text-align: left;

    padding-left:25vw;
    padding-right:15vw;
}

@-ms-viewport{
  width: device-width;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    #projects{
        padding: 5vw;
    }
  .env { display: none; }  /* for on small screens */
  .contact-list{
      font-height: 80%;
      padding: 0;
      text-align: left;
  }
}

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@keyframes slideInRight {
    from    { transform:translateX(100%); 
    }
    to      { transform: translateX(0%); }
}
.slides.ng-enter        { animation:slideInRight 0.8s both ease-in; }
.slides.ng-leave        { animation:slideOutLeft 0.45s both ease-in; }
