body{
    color: white;
}
#fb:hover{

    color:#3b5998;
}
#twitter:hover{
    color:#00aced;
}
#github:hover{
    
    color: black;
}
#wp:hover{
    color:#21759b;
}
a{
    text-decoration: none !important;
    color:white;
}
a.contact:hover{
    color: white;
    font-weight: bold;
}

ul.contact-list{
    list-style-type: none;
    padding-left:5vw;
    padding-right:5vw;
    margin:0;
    text-align: center;
}
#projects{
    position: relative;
    overflow-y: hidden;
    float: left;
    width: 50vw;
    height:100%;
    top: 0;
    left: 0;
    margin: 0;

    padding-left:10vw;
}
.env{
    display: inline;
}



@-ms-viewport{
  width: device-width;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
    #projects{
        font-size: 80%;
        padding-left: 5vw;
        padding-right: 5vw;
    }
  .env { display: none; }  /* for on small screens */
  ul.contact-list{
      font-size: 80%;
      padding-left: 0;
  }
}

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@keyframes slideInRight {
    from    { transform:translateX(100%); 
    }
    to      { transform: translateX(0%); }
}
.slides.ng-enter        { animation:slideInRight 0.8s both ease-in; }
.slides.ng-leave        { animation:slideOutLeft 0.45s both ease-in; }
